:root{
    --img_width: 100px;
}

body{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
input, button{
    outline: none;
    border: none;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: all 0.3s;
}
input:focus{
    border: 1px solid #0088ff;
    box-shadow: #0088ff5e 0 0 3px 2px;
}
input[type="submit"], button{
    background-color: #0088ff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.top{
    width: 100%;
    height: 500px;
    background-image: url("/static/web_img/3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.img_box_ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}
.img_box{
    /*height: 320px;*/
    width: var(--img_width);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 5px;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}
.img_box:hover{
    box-shadow: #0088ff5e 0 0 3px 2px;
}
.show_img{
    width: var(--img_width);
    height: var(--img_width);
    object-fit: contain;
    transition: all 0.3s;
}
.show_img:hover{
    transform: scale(1.1);
}
.show_img_name{
    width: 100%;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #9999;
    color: #fff;
    height: 32px;
    line-height: 32px;
    backdrop-filter: blur(10px);
}
.copy_list{
    display: flex;
    flex-wrap: wrap;
}
.copy_btn{
    /*width: 100%;*/
    height: 32px;
    line-height: 32px;
    margin: 5px 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #aed2ef;
    color: #fff;
    transition: all 0.3s;
    padding: 0 8px;

}
.copy_btn:hover{
    background-color: #0088ff;
}
.update_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-box {
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    color: #007bff;
    font-family: Arial, sans-serif;
    margin: 20px;
    cursor: pointer;
    width: 800px;
    height: 240px;
}

.upload-box:hover {
    background-color: #f8f9fa55;
}

.upload-box.drag-over {
    background-color: #007bff;
    color: white;
}

input[type="file"] {
    display: none;
}

.file-list {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
}
.file-list li{
    padding: 0 10px;
    border-right: 1px solid #ccc;
    position: relative;
}
.update_file_btn{
    width: 120px;
    height: 32px;
    line-height: 32px;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img_box_ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 1000px;
}
.img_box_ul h2{
    width: 100%;
    /*text-align: center;*/
    margin: 10px 0;
    font-size: 16px;
}
.line{
    border: 1px solid #0088ff;
    margin-right: 10px;
}

.img_info_box_fix{
    position: fixed;
    border: 1px solid #8ce0d6;
    bottom: 10px;
    right: 20px;
    width: 300px;
    background-color: #fff5;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    overflow: hidden;
    display: none;
}
#img_pic{
    width: 100%;
    object-fit: contain;
}
#other_btn{
    display: flex;
    flex-wrap: wrap;
}
.img_info{
    padding: 10px;
}
.img_info div{
    text-align: center;
}
.img_name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 800;
}
.img_time{
    font-size: 12px;
    color: #666;
}
.img_w_h{
    display: flex;
    justify-content: space-around;
}