<!DOCTYPE html>
<html>
<head>
    <title>Image Hosting App</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <form class="update_form" method="post" enctype="multipart/form-data">
        <h1>图片上传</h1>
        <div id="upload-box" class="upload-box">
            点击选择文件，或将文件拖拽到此处
        </div>
        <input id="upload-box-files" class="upload-box-files" type="file" name="image" multiple>
        <ul id="file-list-display" class="file-list"></ul>
        <input class="update_file_btn" typeof="" type="submit" value="上传">
    </form>
    <ul class="img_box_ul">
        <h1>图片列表</h1>
        {% for img in img_list %}
        	<li class="img_box">
                <img class="show_img" src="{{ img.url }}&size=100x100" alt="{{ img.filename }}">
{#                <p class="show_img_name">{{ img.filename }}</p>#}
                <div class="copy_list">
                    <button class="copy_btn" onclick="copy_url('{{ img.url }}')">
                        原图
                    </button>
                    {% for thumbnail in img.thumbnails %}
                    	<button class="copy_btn" onclick="copy_url('{{ thumbnail.url }}')">
                            {{ thumbnail.size }}
                        </button>
                    {% endfor %}

                </div>
            </li>
        {% endfor %}

    </ul>
</body>
<script src="/static/js/index.js"></script>
</html>
